* {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

/*vilena*/

body {
  color: #272526;
  background-color: #d0f0e0;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
}

.foto-vili,
.foto-zuzana {
  width: 200px;
  border-radius: 10%;
  float: left;
  margin: 0 30px 30px 0;
}

.vili,
.zuzana {
  padding: 30px 10%;
  overflow: auto;
  margin: 10px auto;
}

.menu li {
  display: inline-block;
}

.menu {
  margin: 0px;
  padding: 0px;
  text-align: right;
  background-color: #8ac9a9;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 20px 30px;
  display: inline-block;
}

.menu a:hover,
.menu a:focus,
menu a:active {
  background-color: #9deec5;
}

a {
  font-size: 20px;
  color: #756158;
}

/*projekt*/

h2 {
  font-size: 30px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  color: whitesmoke;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
}

.hlavicka {
  background-image: url(img/coffee.jpg);
  padding: 100px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section {
  padding: 30px 15%;
  overflow: auto;
  text-align: justify;
}

/* Denik */
.conteiner {
  display: flex;
}

.histories {
  border: 2px solid black;
  margin: 3px;
  display: flex;
  flex-direction: column;
  padding: 0;

  flex-shrink: 0;
}
.history {
  border: 2px solid black;
  display: flex;
  width: 30%;
  height: 150px;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: relative;
  flex-shrink: 0;
}

#date {
  border: 2px solid black;
  border-radius: 45%;
  background-color: lightgreen;
  padding: 5px;
  font-size: 35px;
}

#name {
  flex-shrink: 0;
  margin-right: 50px;
}

#photo {
  position: absolute;
  right: 0;
  top: 0;
}
