* {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

/*hlavni stranka*/

body {
  color: #272526;
  font-size: 18px;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  background-color: whitesmoke;
}

header {
  background-color: whitesmoke;
  color: #616e68;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 24px;
  overflow: auto;
  padding: 50px 15%;
  margin: 0 5%;
}

.menu li {
  display: inline-block;
}

.menu li {
  display: inline-block;
}

.menu {
  margin: 0px;
  padding: 0px;
  text-align: right;
  background-color: #8ac9a9;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 20px 30px;
  display: inline-block;
}

.menu a:hover,
.menu a:focus,
menu a:active {
  background-color: #9deec5;
}

a {
  font-size: 20px;
  color: #756158;
}

/*projekt*/

h2 {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  text-align: center;
  color: whitesmoke;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
}

.projekt img {
  width: 50%;
  border-radius: 5px;
}

.popis-projekt {
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Dancing Script";
  text-align: justify;
}

/* Denik */
.conteiner {
  display: flex;
  text-align: center;
}
.histories {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 30%;
  padding: 5px;
  height: 100%, auto;
  margin: 0;
}

.history {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;

  padding: 3px;
}

#date {
  border: 2px solid black;
  border-radius: 45%;
  background-color: lightgreen;
  padding: 5px;
  font-size: 20px;
}

#name {
  /* flex-shrink: 0; */
  margin-right: 50px;
  flex-shrink: 0;
}

.tools {
  border: 2px solid black;
  width: 8%;
  height: 100%, auto;
  padding: 5px;
  background: #ddd;
}
.nadpis__denik {
  text-align: center;
}
.notes {
  padding: 0;
  text-decoration: line-through;
}

.zapis {
  padding-left: 30px;
}
#zapisek {
  background-image: url("img/kniha.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
  background-position: center;
}
.date_note {
  margin: 30px;
}

#submit {
  margin: 30px;
}

.close:hover {
  background-color: #df9f9a;
  color: white;
}

/* Style the header */
.aktivity {
  background-color: #df9f9a;
  padding: 30px;
  color: white;
  text-align: center;
  margin-top: 10px;
}

/* Clear floats after the header */
.aktivity:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

/* Denik */
.conteiner {
  display: flex;
}
.histories {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 30%;
  padding: 5px;
}

.history {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  align-items: start;

  position: relative;
}

#date {
  border: 2px solid black;
  border-radius: 45%;
  background-color: lightgreen;
  padding: 5px;
  font-size: 20px;
}

#name {
  /* flex-shrink: 0; */
  margin-right: 50px;
}

#photo {
  position: absolute;
  right: 0;
  top: 0;
}

.tools {
  border: 2px solid black;
  width: 8%;
  padding: 5px;
}
.nadpis__denik {
  text-align: center;
}
.notes {
  padding: 0;
}

.zapis {
  padding-left: 30px;
}
#zapisek {
  background-image: url("img/kniha.png");
  background-size: contain;
}
